<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Feed</title>
	<link rel = "stylesheet" type = "text/css" href = "/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class = "form-group row">
		<div class = "container text-center">
			<h1>Welcome to Exposer</h1>
		</div>
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					<b>[[${#request.userPrincipal.principal.FullName}]]</b>
				</p>
				<input type="submit" value="Sign Out" />
			</form>
		</div>
	</div>
	<div>
		<form th:action="@{/successfully_expose}" method = "post" th:object="${posts}">
			<div class="m-3">
				<div class = "form-group col">
					<div>
						<label>Expose Something</label>
					</div>
					<div>
						<input type="text" class="form-control" th:field="*{posts}" required/>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Expose</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div>
		<ul style="list-style: none;" th:each="feed: ${feedList}">
			<li style ="margin-bottom: 50px;">
				<b><p th:text="${feed.fullName}"></p></b>
				<p th:text="${feed.posts}"></p>
				<form th:action="@{/successfully_comment}" method = "post" th:object="${comments}">
					<div class="m-3">
						<div class = "form-group col">
							<div>
								<input type="text" class="form-control" th:field="*{comment}" required/>
							</div>
							<div>
									<input type="hidden" class="form-control" name="postId" th:value="${feed.id}"/>
							</div>
							<div>
								<button type="submit" class="btn btn-primary">Comment</button>
							</div>
						</div>
					</div>
				</form>
				<ul style="list-style: none;" th:each="comment: ${commentList}"  th:if="${comment.postId} == ${feed.id}">
					<li style ="margin-bottom: 5px;" class = "form-group row">
						<b><p th:text="${comment.fullName}"></p></b>
						<div class = "form-group col">
							<p th:text="${comment.comment}" style ="margin-left: 25px;"></p>
							<form th:action="@{/successfully_replied}" method = "post" th:object="${replies}">
								<div class="m-3">
									<div class = "form-group col">
										<div>
											<input type="text" class="form-control" th:field="*{reply}" required/>
										</div>
										<div>
											<input type="hidden" class="form-control" name="commentId" th:value="${comment.Id}"/>
										</div>
										<div>
											<button type="submit" class="btn btn-primary">Reply</button>			
										</div>
									</div>
								</div>
							</form>
							<ul style="list-style: none;" th:each="replylist: ${replyList}"  th:if="${replylist.commentId} == ${comment.id}">
								<li style ="margin-bottom: 5px;" class = "form-group row">
									<b><p th:text="${replylist.fullName}"></p></b>
									<p th:text="${replylist.reply}" style ="margin-left: 25px;"></p>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>