<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Feed</title>
	<link rel = "stylesheet" type = "text/css" href = "/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class = "form-group row">
		<div class = "container text-center">
			<h1>Welcome to Exposer</h1>
			
		</div>
		
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					<b>[[${#request.userPrincipal.principal.FullName}]]</b>
				</p>
				<input type="submit" value="Sign Out" />
			</form>
		</div>
	</div>	
	
	<div>
		<form th:action="@{/successfully_expose}" method = "post" th:object="${posts}">
			<div class="m-3">
				<div class = "form-group col">
					<div>
						<label>Expose Something</label>
					</div>
<!-- 					<div class="col-4"> -->
					<div>
						<input type="text" class="form-control" th:field="*{posts}" required/>
					</div>
					<div>		
						<button type="submit" class="btn btn-primary">Expose</button>			
					</div>
				</div>
			</div>
		</form>
	</div>
	
	
	<div>
		<ul style="list-style: none;" th:each="feed: ${feedList}">
				<li style ="margin-bottom: 50px;">
					<b><p th:text="${feed.fullName}"></p></b>
					<p th:text="${feed.posts}"></p>
					
					<form th:action="@{/successfully_comment}" method = "post" th:object="${comments}">
						<div class="m-3">
							<div class = "form-group col">
								<div>
									<input type="text" class="form-control" th:field="*{comment}" required/>
								</div>
								<div>
									<input type="long" class="form-control" th:field="*{postId}" value= required/>
								</div>
								<div>		
									<button type="submit" class="btn btn-primary">Comment</button>			
								</div>
								<div>
									<p th:text="${feed.id}"></p>
								</div>
							</div>
						</div>
					</form>
				</li>
		</ul>
	</div>

</body>
</html>